<h1>Here is your To-Do list:</h1>
<p>Click a task for details.<p>

<% @tasks.each do |task| %>
  <div class="container">
  <h3><%= task.id %>. <%= link_to task.name, show_path(task) %></h3>
  <p><%= task.details %></p>
  </div>
<% end %>
